name: Node.js CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'
    - name: Enable user namespaces
      run: sudo sysctl -w kernel.unprivileged_userns_clone=1
    - run: npm install
    - run: npm run build --if-present
    - run: npm test
      env:
        CI: true
